## Import data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./6934_1593423955510.txt')

In [3]:
df.head(30)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,1450.774999999794,True
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True
5,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,358.805,True
6,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,411.755,True
7,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,483.070,True
8,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,387.385,True
9,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,371.165,True
10,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,387.170,True
11,block1,,,Kadın,Erkek,1,img,/images/male-1.png,Target2,435.640,True
12,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,403.960,True
13,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,360.490,True
14,block1,,,Kadın,Erkek,1,img,/images/female-1.png,Target1,414.165,True
15,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,526.370,True
16,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,438.460,True
17,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,403.855,True
18,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,412.945,True
19,block2,İyi,Kötü,,,1,txt,Güvenilir,İyi,716.185,True
20,block2,İyi,Kötü,,,1,txt,Ağırbaşlı,İyi,404.495,True
21,block2,İyi,Kötü,,,1,txt,Alıngan,Kötü,589.235,True
22,block2,İyi,Kötü,,,1,txt,Cesur,İyi,594.205,True
23,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,733.145,False
24,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,373.215,True
25,block2,İyi,Kötü,,,1,txt,Duygusal,Kötü,521.560,True
26,block2,İyi,Kötü,,,1,txt,Dobra,İyi,754.375,True
27,block2,İyi,Kötü,,,1,txt,Dobra,İyi,382.160,True
28,block2,İyi,Kötü,,,1,txt,Hassas,Kötü,3015.860,True
29,block2,İyi,Kötü,,,1,txt,Kararsız,Kötü,581.760,True

In [4]:
df.isnull().sum().sum()

0

In [5]:
#I checked out if any value is NaN

In [6]:
df.info

<bound method DataFrame.info of      block1         .1  Kadın  Erkek  1  img     /images/male-3.png   Target2  \
0    block1             Kadın  Erkek  1  img     /images/male-3.png   Target2
1    block1             Kadın  Erkek  1  img   /images/female-3.png   Target1
2    block1             Kadın  Erkek  1  img   /images/female-2.png   Target1
3    block1             Kadın  Erkek  1  img     /images/male-3.png   Target2
4    block1             Kadın  Erkek  1  img     /images/male-2.png   Target2
..      ...  ...   ...    ...    ... ..  ...                    ...       ...
198  block7  İyi  Kötü  Kadın  Erkek  0  txt                Alıngan      Kötü
199  block7  İyi  Kötü  Kadın  Erkek  0  img     /images/male-3.png   Target2
200  block7  İyi  Kötü  Kadın  Erkek  0  txt                 Hassas      Kötü
201  block7  İyi  Kötü  Kadın  Erkek  0  img   /images/female-1.png   Target1
202  block7  İyi  Kötü  Kadın  Erkek  0  txt                  Dobra       İyi

     1450.774999999794  True
0              350.165  True
1              434.745  True
2              410.260  True
3              462.010  True
4              531.130  True
..                 ...   ...
198            587.225  True
199            459.725  True
200            555.825  True
201            480.160  True
202            708.370  True

[203 rows x 11 columns]>

In [7]:
print('Ndim: {}'.format(df.ndim))
print('Shape: {}'.format(df.shape))
print('Size: {}'.format(df.size))
print('Columns: {}'.format(df.columns))

Ndim: 2
Shape: (203, 11)
Size: 2233
Columns: Index(['block1', ' ', ' .1', 'Kadın', 'Erkek', '1', 'img',
       ' /images/male-3.png', ' Target2', '1450.774999999794', 'True'],
      dtype='object')

In [8]:
df.rename(columns={'1450.774999999794': 'Reaction Time (milliseconds)', 'True': 'Output'} , inplace=True)

In [9]:
# I renamed the columns to see more clearly while i was working on dataset

In [10]:
df.block1.unique()

array(['block1', 'block2', 'block3', 'block4', 'block5', 'block6',
       'block7'], dtype=object)

In [11]:
block1 = df.loc[df['block1'] == 'block1']
block2 = df.loc[df['block1'] == 'block2']
block3 = df.loc[df['block1'] == 'block3']
block4 = df.loc[df['block1'] == 'block4']
block5 = df.loc[df['block1'] == 'block5']
block6 = df.loc[df['block1'] == 'block6']
block7 = df.loc[df['block1'] == 'block7']

In [12]:
#as we can see, dataset which i worked includes 7 different blocks, this line divided my data into 7 parts

In [13]:
block1.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True
5,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,358.805,True
6,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,411.755,True
7,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,483.070,True
8,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,387.385,True
9,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,371.165,True

In [14]:
result1 = block1[['Reaction Time (milliseconds)']].mean(axis=0)

In [15]:
#this line calculate mean/average of a given column

In [16]:
RT1 = result1

In [17]:
RT1

Reaction Time (milliseconds)    420.186579
dtype: float64

In [18]:
block2.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
19,block2,İyi,Kötü,,,1,txt,Güvenilir,İyi,716.185,True
20,block2,İyi,Kötü,,,1,txt,Ağırbaşlı,İyi,404.495,True
21,block2,İyi,Kötü,,,1,txt,Alıngan,Kötü,589.235,True
22,block2,İyi,Kötü,,,1,txt,Cesur,İyi,594.205,True
23,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,733.145,False
24,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,373.215,True
25,block2,İyi,Kötü,,,1,txt,Duygusal,Kötü,521.560,True
26,block2,İyi,Kötü,,,1,txt,Dobra,İyi,754.375,True
27,block2,İyi,Kötü,,,1,txt,Dobra,İyi,382.160,True
28,block2,İyi,Kötü,,,1,txt,Hassas,Kötü,3015.860,True

In [19]:
block2ed = ~block2.apply(lambda series: series.astype(str).str.contains('False')).any(axis=1)

In [20]:
#this line drop out Falses from specified block2 dataframe

In [21]:
result2= block2[block2ed]

In [22]:
result2.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
19,block2,İyi,Kötü,,,1,txt,Güvenilir,İyi,716.185,True
20,block2,İyi,Kötü,,,1,txt,Ağırbaşlı,İyi,404.495,True
21,block2,İyi,Kötü,,,1,txt,Alıngan,Kötü,589.235,True
22,block2,İyi,Kötü,,,1,txt,Cesur,İyi,594.205,True
24,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,373.215,True
25,block2,İyi,Kötü,,,1,txt,Duygusal,Kötü,521.560,True
26,block2,İyi,Kötü,,,1,txt,Dobra,İyi,754.375,True
27,block2,İyi,Kötü,,,1,txt,Dobra,İyi,382.160,True
28,block2,İyi,Kötü,,,1,txt,Hassas,Kötü,3015.860,True
29,block2,İyi,Kötü,,,1,txt,Kararsız,Kötü,581.760,True

In [23]:
RT2 = result2[['Reaction Time (milliseconds)']].mean(axis=0)

In [24]:
RT2

Reaction Time (milliseconds)    642.71125
dtype: float64

In [25]:
block3.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
41,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,1424.005,True
42,block3,İyi,Kötü,Kadın,Erkek,1,txt,Akıllı,İyi,526.855,True
43,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/male-2.png,Target2,473.315,True
44,block3,İyi,Kötü,Kadın,Erkek,1,txt,Hassas,Kötü,552.740,True
45,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,398.200,False
46,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,435.290,True
47,block3,İyi,Kötü,Kadın,Erkek,1,txt,Çekingen,Kötü,532.855,True
48,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-1.png,Target1,431.595,True
49,block3,İyi,Kötü,Kadın,Erkek,1,txt,Kaba,Kötü,474.625,False
50,block3,İyi,Kötü,Kadın,Erkek,1,txt,Kaba,Kötü,142.310,True

In [26]:
block3ed = ~block3.apply(lambda series: series.astype(str).str.contains('False')).any(axis=1)

In [27]:
result3= block3[block3ed]

In [28]:
result3.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
41,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,1424.005,True
42,block3,İyi,Kötü,Kadın,Erkek,1,txt,Akıllı,İyi,526.855,True
43,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/male-2.png,Target2,473.315,True
44,block3,İyi,Kötü,Kadın,Erkek,1,txt,Hassas,Kötü,552.740,True
46,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,435.290,True
47,block3,İyi,Kötü,Kadın,Erkek,1,txt,Çekingen,Kötü,532.855,True
48,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-1.png,Target1,431.595,True
50,block3,İyi,Kötü,Kadın,Erkek,1,txt,Kaba,Kötü,142.310,True
51,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-2.png,Target1,409.255,True
53,block3,İyi,Kötü,Kadın,Erkek,1,txt,Başarılı,İyi,314.070,True

In [29]:
RT3 = result3[['Reaction Time (milliseconds)']].mean(axis=0)

In [30]:
RT3

Reaction Time (milliseconds)    488.773
dtype: float64

In [31]:
block4.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
67,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/male-3.png,Target2,727.125,True
68,block4,İyi,Kötü,Kadın,Erkek,1,txt,Cesur,İyi,495.190,True
69,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/female-1.png,Target1,685.015,True
70,block4,İyi,Kötü,Kadın,Erkek,1,txt,Ağırbaşlı,İyi,718.590,True
71,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,448.345,True
72,block4,İyi,Kötü,Kadın,Erkek,1,txt,Akıllı,İyi,465.225,True
73,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/male-2.png,Target2,634.930,True
74,block4,İyi,Kötü,Kadın,Erkek,1,txt,Ağırbaşlı,İyi,446.110,True
75,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,432.905,True
76,block4,İyi,Kötü,Kadın,Erkek,1,txt,Alıngan,Kötü,472.020,True

In [32]:
block4ed = ~block4.apply(lambda series: series.astype(str).str.contains('False')).any(axis=1)

In [33]:
result4 = block4[block4ed]

In [34]:
result4.head(10)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
67,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/male-3.png,Target2,727.125,True
68,block4,İyi,Kötü,Kadın,Erkek,1,txt,Cesur,İyi,495.190,True
69,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/female-1.png,Target1,685.015,True
70,block4,İyi,Kötü,Kadın,Erkek,1,txt,Ağırbaşlı,İyi,718.590,True
71,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,448.345,True
72,block4,İyi,Kötü,Kadın,Erkek,1,txt,Akıllı,İyi,465.225,True
73,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/male-2.png,Target2,634.930,True
74,block4,İyi,Kötü,Kadın,Erkek,1,txt,Ağırbaşlı,İyi,446.110,True
75,block4,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,432.905,True
76,block4,İyi,Kötü,Kadın,Erkek,1,txt,Alıngan,Kötü,472.020,True

In [35]:
RT4 = result4[['Reaction Time (milliseconds)']].mean(axis=0)

In [36]:
RT4

Reaction Time (milliseconds)    472.96425
dtype: float64

In [37]:
block5ed = ~block5.apply(lambda series: series.astype(str).str.contains('False')).any(axis=1)

In [38]:
result5 = block5[block5ed]

In [39]:
RT5 = result5[['Reaction Time (milliseconds)']].mean(axis=0)

In [40]:
RT5

Reaction Time (milliseconds)    461.06275
dtype: float64

In [41]:
block6ed = ~block6.apply(lambda series: series.astype(str).str.contains('False')).any(axis=1)

In [42]:
result6 = block6[block6ed]

In [43]:
RT6 = result6[['Reaction Time (milliseconds)']].mean(axis=0)

In [44]:
RT6

Reaction Time (milliseconds)    640.724
dtype: float64

In [45]:
block7ed = ~block7.apply(lambda series: series.astype(str).str.contains('False')).any(axis=1)

In [46]:
result7 = block7[block7ed]

In [47]:
RT7 = result7[['Reaction Time (milliseconds)']].mean(axis=0)

In [48]:
RT7

Reaction Time (milliseconds)    502.824625
dtype: float64

In [49]:
final_result = {'RT': [RT1, RT2, RT3, RT4, RT5, RT6, RT6, RT7]}

In [50]:
final_result

{'RT': [Reaction Time (milliseconds)    420.186579
  dtype: float64,
  Reaction Time (milliseconds)    642.71125
  dtype: float64,
  Reaction Time (milliseconds)    488.773
  dtype: float64,
  Reaction Time (milliseconds)    472.96425
  dtype: float64,
  Reaction Time (milliseconds)    461.06275
  dtype: float64,
  Reaction Time (milliseconds)    640.724
  dtype: float64,
  Reaction Time (milliseconds)    640.724
  dtype: float64,
  Reaction Time (milliseconds)    502.824625
  dtype: float64]}

In [51]:
final_result_ = pd.DataFrame (final_result, columns = ['RT'])

In [52]:
#this line creates dataframe from final results to get average of the RT's

In [53]:
av_RT = final_result_.mean()

In [54]:
final_result_2 = {'RT': [RT1, RT2, RT3, RT4, RT5, RT6, RT6, RT7, av_RT]}

In [55]:
final_result_2

{'RT': [Reaction Time (milliseconds)    420.186579
  dtype: float64,
  Reaction Time (milliseconds)    642.71125
  dtype: float64,
  Reaction Time (milliseconds)    488.773
  dtype: float64,
  Reaction Time (milliseconds)    472.96425
  dtype: float64,
  Reaction Time (milliseconds)    461.06275
  dtype: float64,
  Reaction Time (milliseconds)    640.724
  dtype: float64,
  Reaction Time (milliseconds)    640.724
  dtype: float64,
  Reaction Time (milliseconds)    502.824625
  dtype: float64,
  RT    533.746307
  dtype: float64]}

In [56]:
RT_df = pd.DataFrame.from_dict(final_result_2)

In [57]:
RT_df

                                                  RT
0  Reaction Time (milliseconds)    420.186579
dty...
1  Reaction Time (milliseconds)    642.71125
dtyp...
2  Reaction Time (milliseconds)    488.773
dtype:...
3  Reaction Time (milliseconds)    472.96425
dtyp...
4  Reaction Time (milliseconds)    461.06275
dtyp...
5  Reaction Time (milliseconds)    640.724
dtype:...
6  Reaction Time (milliseconds)    640.724
dtype:...
7  Reaction Time (milliseconds)    502.824625
dty...
8                    RT    533.746307
dtype: float64

In [58]:
RT_df.to_csv(r'C:\Users\90505\Desktop\dataset2\RT_df.csv', index = False)

In [59]:
#this line exports the dataframe to outside

In [60]:
df.head(30)

,block1,,.1,Kadın,Erkek,1,img,/images/male-3.png,Target2,Reaction Time (milliseconds),Output
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True
5,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,358.805,True
6,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,411.755,True
7,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,483.070,True
8,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,387.385,True
9,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,371.165,True
10,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,387.170,True
11,block1,,,Kadın,Erkek,1,img,/images/male-1.png,Target2,435.640,True
12,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,403.960,True
13,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,360.490,True
14,block1,,,Kadın,Erkek,1,img,/images/female-1.png,Target1,414.165,True
15,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,526.370,True
16,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,438.460,True
17,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,403.855,True
18,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,412.945,True
19,block2,İyi,Kötü,,,1,txt,Güvenilir,İyi,716.185,True
20,block2,İyi,Kötü,,,1,txt,Ağırbaşlı,İyi,404.495,True
21,block2,İyi,Kötü,,,1,txt,Alıngan,Kötü,589.235,True
22,block2,İyi,Kötü,,,1,txt,Cesur,İyi,594.205,True
23,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,733.145,False
24,block2,İyi,Kötü,,,1,txt,Çekingen,Kötü,373.215,True
25,block2,İyi,Kötü,,,1,txt,Duygusal,Kötü,521.560,True
26,block2,İyi,Kötü,,,1,txt,Dobra,İyi,754.375,True
27,block2,İyi,Kötü,,,1,txt,Dobra,İyi,382.160,True
28,block2,İyi,Kötü,,,1,txt,Hassas,Kötü,3015.860,True
29,block2,İyi,Kötü,,,1,txt,Kararsız,Kötü,581.760,True

## Filtering

In [61]:
df.columns = df.columns.str.replace('/images/male-3.png','X')

In [62]:
df

,block1,,.1,Kadın,Erkek,1,img,X,Target2,Reaction Time (milliseconds),Output
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True
...,...,...,...,...,...,...,...,...,...,...,...
198,block7,İyi,Kötü,Kadın,Erkek,0,txt,Alıngan,Kötü,587.225,True
199,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/male-3.png,Target2,459.725,True
200,block7,İyi,Kötü,Kadın,Erkek,0,txt,Hassas,Kötü,555.825,True
201,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-1.png,Target1,480.160,True
202,block7,İyi,Kötü,Kadın,Erkek,0,txt,Dobra,İyi,708.370,True

In [63]:
df.columns

Index(['block1', ' ', ' .1', 'Kadın', 'Erkek', '1', 'img', ' X', ' Target2',
       'Reaction Time (milliseconds)', 'Output'],
      dtype='object')

In [64]:
df = df.rename(columns={' X': 'X'})

In [65]:
#I got some errors because of the name of column,then i changed

In [66]:
df.columns

Index(['block1', ' ', ' .1', 'Kadın', 'Erkek', '1', 'img', 'X', ' Target2',
       'Reaction Time (milliseconds)', 'Output'],
      dtype='object')

In [67]:
df.X.unique()

array([' /images/male-3.png', ' /images/female-3.png',
       ' /images/female-2.png', ' /images/male-2.png',
       ' /images/male-1.png', ' /images/female-1.png', ' Güvenilir',
       ' Ağırbaşlı', ' Alıngan', ' Cesur', ' Çekingen', ' Duygusal',
       ' Dobra', ' Hassas', ' Kararsız', ' Başarılı', ' Akıllı', ' Kaba',
       ' Dedikoducu'], dtype=object)

In [68]:
#this line controls the values on a specific column

In [69]:
df_gender = df.loc[df['X'].isin([' /images/male-3.png', ' /images/female-3.png',
       ' /images/female-2.png', ' /images/male-2.png',
       ' /images/male-1.png', ' /images/female-1.png'])]

In [70]:
df_gender

,block1,,.1,Kadın,Erkek,1,img,X,Target2,Reaction Time (milliseconds),Output
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True
...,...,...,...,...,...,...,...,...,...,...,...
191,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-2.png,Target1,527.385,True
194,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-2.png,Target1,421.425,True
197,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-3.png,Target1,440.545,True
199,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/male-3.png,Target2,459.725,True
201,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-1.png,Target1,480.160,True

## Add a gender column

In [71]:
def get_gender(gender):
    return gender.split('/')[2].split('-')[0]
df_gender['Gender'] = df_gender['X'].apply(lambda x: get_gender(x))

D:\Users\90505\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
# this function picks the characters between second / to first -

In [73]:
df_gender

,block1,,.1,Kadın,Erkek,1,img,X,Target2,Reaction Time (milliseconds),Output,Gender
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True,male
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True,female
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True,female
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True,male
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True,male
...,...,...,...,...,...,...,...,...,...,...,...,...
191,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-2.png,Target1,527.385,True,female
194,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-2.png,Target1,421.425,True,female
197,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-3.png,Target1,440.545,True,female
199,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/male-3.png,Target2,459.725,True,male
201,block7,İyi,Kötü,Kadın,Erkek,0,img,/images/female-1.png,Target1,480.160,True,female

In [74]:
block1_2 = df_gender.loc[df_gender['block1'] == 'block1']
block2_2 = df_gender.loc[df_gender['block1'] == 'block2']
block3_2 = df_gender.loc[df_gender['block1'] == 'block3']
block4_2 = df_gender.loc[df_gender['block1'] == 'block4']
block5_2 = df_gender.loc[df_gender['block1'] == 'block5']
block6_2 = df_gender.loc[df_gender['block1'] == 'block6']
block7_2 = df_gender.loc[df_gender['block1'] == 'block7']

In [75]:
block1_2.head(10)

,block1,,.1,Kadın,Erkek,1,img,X,Target2,Reaction Time (milliseconds),Output,Gender
0,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,350.165,True,male
1,block1,,,Kadın,Erkek,1,img,/images/female-3.png,Target1,434.745,True,female
2,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,410.260,True,female
3,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,462.010,True,male
4,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,531.130,True,male
5,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,358.805,True,male
6,block1,,,Kadın,Erkek,1,img,/images/female-2.png,Target1,411.755,True,female
7,block1,,,Kadın,Erkek,1,img,/images/male-3.png,Target2,483.070,True,male
8,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,387.385,True,male
9,block1,,,Kadın,Erkek,1,img,/images/male-2.png,Target2,371.165,True,male

### Apply multiple filters to filter two different indexes from data

In [76]:
block1_fem = block1_2[(block1_2['Gender'] == 'female') & (block1_2['Output'] == True )]
block3_fem = block3_2[(block3_2['Gender'] == 'female') & (block3_2['Output'] == True )]
block4_fem = block4_2[(block4_2['Gender'] == 'female') & (block4_2['Output'] == True )]
block5_fem = block5_2[(block5_2['Gender'] == 'female') & (block5_2['Output'] == True )]
block6_fem = block6_2[(block6_2['Gender'] == 'female') & (block6_2['Output'] == True )]
block7_fem = block7_2[(block7_2['Gender'] == 'female') & (block7_2['Output'] == True )]
block1_male = block1_2[(block1_2['Gender'] == 'male') & (block1_2['Output'] == True )]
block3_male = block3_2[(block3_2['Gender'] == 'male') & (block1_2['Output'] == True )]
block4_male = block4_2[(block4_2['Gender'] == 'male') & (block4_2['Output'] == True )]
block5_male = block5_2[(block5_2['Gender'] == 'male') & (block5_2['Output'] == True )]
block6_male = block6_2[(block6_2['Gender'] == 'male') & (block6_2['Output'] == True )]
block7_male = block7_2[(block7_2['Gender'] == 'male') & (block7_2['Output'] == True )]

D:\Users\90505\anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [77]:
B1F = block1_fem[['Reaction Time (milliseconds)']].mean(axis=0)
B3F = block3_fem[['Reaction Time (milliseconds)']].mean(axis=0)
B4F = block4_fem[['Reaction Time (milliseconds)']].mean(axis=0)
B5F = block5_fem[['Reaction Time (milliseconds)']].mean(axis=0)
B6F = block6_fem[['Reaction Time (milliseconds)']].mean(axis=0)
B7F = block7_fem[['Reaction Time (milliseconds)']].mean(axis=0)

In [78]:
block3_male ##in block3, only female values exist so we have not got any male rt for block 3

Empty DataFrame
Columns: [block1,  ,  .1, Kadın, Erkek, 1, img, X,  Target2, Reaction Time (milliseconds), Output, Gender]
Index: []

In [79]:
block3_fem #bi manuel kontrol

,block1,,.1,Kadın,Erkek,1,img,X,Target2,Reaction Time (milliseconds),Output,Gender
41,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,1424.005,True,female
46,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,435.290,True,female
48,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-1.png,Target1,431.595,True,female
51,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-2.png,Target1,409.255,True,female
54,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-3.png,Target1,645.335,True,female
56,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-1.png,Target1,539.420,True,female
59,block3,İyi,Kötü,Kadın,Erkek,1,img,/images/female-2.png,Target1,543.400,True,female

In [80]:
B1M = block1_male[['Reaction Time (milliseconds)']].mean(axis=0)
B3M = block3_male[['Reaction Time (milliseconds)']].mean(axis=0)
B4M = block4_male[['Reaction Time (milliseconds)']].mean(axis=0)
B5M = block5_male[['Reaction Time (milliseconds)']].mean(axis=0)
B6M = block6_male[['Reaction Time (milliseconds)']].mean(axis=0)
B7M = block7_male[['Reaction Time (milliseconds)']].mean(axis=0)

In [81]:
data_rt_male = {'RT':['B1M', 'B2M', 'B3M', 'B4M', 'B5M', 'B6M', 'B7M'], 'Milliseconds':[420.841333, 'imagenotfound', 'NaN', 531.560714, 471.055357, 655.365, 463.791364]}

In [82]:
data_rt_male

{'RT': ['B1M', 'B2M', 'B3M', 'B4M', 'B5M', 'B6M', 'B7M'],
 'Milliseconds': [420.841333,
  'imagenotfound',
  'NaN',
  531.560714,
  471.055357,
  655.365,
  463.791364]}

In [83]:
result_df_male = pd.DataFrame(data_rt_male)

In [84]:
result_df_male

    RT   Milliseconds
0  B1M        420.841
1  B2M  imagenotfound
2  B3M            NaN
3  B4M        531.561
4  B5M        471.055
5  B6M        655.365
6  B7M        463.791

In [85]:
B7F

Reaction Time (milliseconds)    475.870556
dtype: float64

In [86]:
result_rt_female = {'RT':['B1F', 'B2F', 'B3F', 'B4F', 'B5F', 'B6F', 'B7F'], 'Milliseconds':[417.73125, 'imagenotfound', 632.614286, 446.764231, 437.746667, 492.06, 475.870556]}

In [87]:
result_rt_female

{'RT': ['B1F', 'B2F', 'B3F', 'B4F', 'B5F', 'B6F', 'B7F'],
 'Milliseconds': [417.73125,
  'imagenotfound',
  632.614286,
  446.764231,
  437.746667,
  492.06,
  475.870556]}

In [88]:
result_df_female = pd.DataFrame(result_rt_female)

In [89]:
result_df_female

    RT   Milliseconds
0  B1F        417.731
1  B2F  imagenotfound
2  B3F        632.614
3  B4F        446.764
4  B5F        437.747
5  B6F         492.06
6  B7F        475.871

In [90]:
result_by_gender = result_df_female.append(result_df_male)

In [91]:
result_by_gender

    RT   Milliseconds
0  B1F        417.731
1  B2F  imagenotfound
2  B3F        632.614
3  B4F        446.764
4  B5F        437.747
5  B6F         492.06
6  B7F        475.871
0  B1M        420.841
1  B2M  imagenotfound
2  B3M            NaN
3  B4M        531.561
4  B5M        471.055
5  B6M        655.365
6  B7M        463.791

In [92]:
result_by_gender.to_csv(r'C:\Users\90505\Desktop\dataset2\result_by_gender.csv', index = False)